@import "waybar-matugen.css";

* {
  border: none;
  border-radius: 0;
  font: 16px "NotoMono Nerd Font";
  font-weight: bolder;
  box-shadow: none;
  text-shadow: none;
}

window#waybar {
  background: @background-alpha;
  border-radius: 10px;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 5px;
  color: @primary;
}

#workspaces,
#idle_inhibitor,
#window,
#clock,
#tray,
#bluetooth,
#wireplumber {
  padding: 0px 12px;
  margin-right: 4px;
  background: @surface;
  border-radius: 30px;
}

#cpu,
#memory {
  padding: 0px 12px;
  margin-right: 4px;
  background: @surface;
}

#cpu {
  border-radius: 30px 0 0 30px;
}

#memory {
  border-radius: 0 30px 30px 0;
  margin-left: -4px;
}

#workspaces button {
  color: @primary;
}
